<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- fragment che si chiama head e prende un parametro title -->
    <th:block th:fragment="head(pageTitle)">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- includo bootstrap css e js -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/app.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
        <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}" defer></script>
        <!-- il title della pagina cambia e lo leggo dal parametro del fragment -->
        <title th:text="${pageTitle}"></title>
    </th:block>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light p-2" th:fragment="navbar">


    <a class="navbar-brand" th:href="@{/}" style="color: black;">Pizza Experis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" style="color: black;">Menu'</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/ingredients}" style="color: black;" sec:authorize="hasAuthority('ADMIN')">Ingredients</a>
            </li>
        </ul>


        <div class="me-3">
            <form th:action="@{/}" method="GET">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search by name"
                           name="keyword" th:value="${searchInput}">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>

        <ul class="navbar-nav ml-3">
            <li class="nav-item active">
                <span sec:authentication="name"></span>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}" style="color: black;"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}" style="color: black;"><i class="fa-solid fa-right-from-bracket"></i> Login</a>
            </li>
        </ul>


    </div>
</nav>

</body>
</html>