<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Pizza Form')}">
</head>
<body th:with="isEdit=${pizza.id != null}">
<nav th:replace="/fragments/resources :: navbar"></nav>


<div class="container formcontainer">

    <h1 th:text="${isEdit ? 'Edit Pizza' : 'New Pizza'}"></h1>

    <form th:with="formAction=${isEdit ? '/edit/'+ pizza.id : '/create'}"
          th:action="@{${formAction}}" th:object="${pizza}" method="post" id="pizza-form" class="row">
        <div class="col-6">
            <label class="form-label" for="pizza-name">Nome:</label>
            <input class="form-control" type="text" id="pizza-name" th:field="*{name}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-6">
            <label class="form-label" for="pizza-price">Prezzo:</label>
            <input class="form-control" type="number" id="pizza-price" th:field="*{price}" th:errorClass="is-invalid">
            <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">

                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-6">
            <label class="form-label" for="pizza-photo">URL immagine:</label>
            <input class="form-control" type="text" id="pizza-photo" th:field="*{photo}">
        </div>

        <div class="col-6">
            <label class="form-label" for="pizza-descr">Descrizione:</label>
            <textarea class="form-control" id="pizza-descr" th:field="*{descr}" rows="5"></textarea>
        </div>
        <div class="col-6">
            <h3>Ingredients</h3>
            <div class="form-check" th:each="ingr : ${ingredients}">
                <input class="form-check-input" type="checkbox" th:value="${ingr.id}" th:id="|ingr_${ingr.id}|"
                       th:field="*{ingredients}">
                <label class="form-check-label" th:for="|ingr_${ingr.id}|" th:text="${ingr.name}">
                </label>
            </div>


        </div>

        <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">Salva</button>
            <a class="btn btn-secondary" th:href="@{/}">Annulla</a>
        </div>
    </form>


</body>
</html>