<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Pizza Detail')}">
<body>

<nav th:replace="/fragments/resources :: navbar"></nav>


<div th:object="${pizza}" class="p-5 text-center bg-image"
     th:style="'background-image: url(' + @{${pizza.photo}} + '); height: 400px; background-size: cover; background-position: center;'">
</div>

<div class="container my-2">
    <div class="row">
        <div class="col-md-10" th:object="${pizza}">
            <div style="margin-bottom: 20px;">
                <h1 class="mb-3" th:text="*{name}"></h1>
                <h3 th:text="*{descr}"></h3>
                <h5 class="mb-3" th:text="'€ ' + *{price}"></h5>
            </div>
        </div>
        <div class="col-md-2">
            <h1>Ingredienti</h1>
            <ul th:if="${pizza.ingredients.size() > 0}">
                <li th:each="ingr : ${pizza.ingredients}" th:text="*{ingr.name}"></li>
            </ul>
            <div th:unless="${pizza.ingredients.size() > 0}" class="alert alert-info">Nessun ingrediente</div>
        </div>


    </div>
</div>


<div class="container my-3">
    <a class="btn btn-primary" th:href="@{/offers/create(pizzaId=${pizza.id})}">Add Offers</a>
</div>

<div class="container my-2" th:if="${pizza.listOffer.size() > 0}">
    <h2>Offerte Speciali</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Title</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${pizza.listOffer}" th:object="${offer}">
            <td th:text="*{#temporals.format(start, 'dd/MM/yyyy')}"></td>
            <td th:text="*{#temporals.format(end, 'dd/MM/yyyy')}"></td>
            <td th:text="*{title}"></td>

            <td class="d-flex align-items-center">
                <a class="btn btn-primary me-1" th:href="@{|/offers/edit/*{id}|}"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                <form th:action="@{|/offers/delete/${offer.id}|}" method="post">
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>