<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Pizza List')}">
</head>
<body>

<nav th:replace="/fragments/resources :: navbar"></nav>


<div class="container">

    <a class="btn btn-primary g-3" th:href="@{/create}">Aggiungi una pizza!</a>


    <div class="row row-cols-3 g-3 p-3">

        <div class="col" th:each="pizza : ${pizzaList}">
            <div class="card">
                <a th:href="@{|/${pizza.id}|}">
                    <img class="card-img-top " th:src="${pizza.photo}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${pizza.name}"></h5>
                    <p class="card-text"><small th:text="${pizza.price}" class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>